<h1>Hi <%= @email %></h1>
<p> your friend <%= @from_first_name %>, just invited to SignUp at DS-Assignment Application. </p>
<p> <%= link_to "Accept Invitation", @url, method: :get %> </p>
<p> Excited to see you at DS-Assignment. </p>
<p> Thank you </p>